<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>
    .md-container {
        height: 100%;
        background: var(--md-primary-fg-color);
    }

    .md-main {
        flex-grow: 0;
        height: 0px;
        background: var(--md-primary-fg-color);
    }

    .md-main__inner {
        display: flex;
        height: 100%;
    }

    .tx-container {
        padding-top: 0;
        background: var(--md-primary-fg-color);
    }

    .tx-hero {
        max-width: 46rem;
        margin: 0 auto;
        padding: 5rem 1.5rem 7rem;
        color: var(--md-primary-bg-color);
        text-align: center;
    }

    .tx-hero h1 {
        margin-bottom: 1rem;
        color: currentColor;
        font-weight: 700;
    }

    .tx-hero p {
        margin-bottom: 2rem;
        font-size: .8rem;
        line-height: 1.7;
    }

    .tx-hero .md-button {
        margin-top: .5rem;
        margin-right: .5rem;
        color: var(--md-primary-bg-color);
    }

    .tx-hero .md-button--primary {
        background-color: var(--md-primary-bg-color);
        color: rgb(0, 0, 0);
        border-color: var(--md-primary-bg-color);
    }

    .tx-hero .md-button:focus,
    .tx-hero .md-button:hover {
        background-color: var(--md-accent-fg-color);
        color: var(--md-default-bg-color);
        border-color: var(--md-accent-fg-color);
    }

    @media screen and (max-width: 30em) {
        .tx-hero h1 {
            font-size: 1.4rem;
        }
    }

    @media screen and (min-width: 60em) {
        .md-sidebar--secondary {
            display: none;
        }
    }

    @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
            display: none;
        }
    }
</style>

<!-- Main site entry buttons -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <h1>{{ config.site_name }}</h1>
            <p>{{ config.site_description }}</p>
            <a href="{{ base_url }}/overview/" class="md-button md-button--primary">
                Get started
            </a>
            <a href="{{ base_url }}/topologies/" class="md-button">
                Topologies
            </a>
        </div>
    </div>
</section>

{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
